
.Rproj.user/DBF0A6D6/pcs/source-window.pper
.Rproj.user/DBF0A6D6/rmd-outputs
.Rproj.user/DBF0A6D6/sources/per/t/1305B081
.Rproj.user/DBF0A6D6/sources/per/t/1305B081-contents
.Rproj.user/DBF0A6D6/sources/per/t/4504E294
.Rproj.user/DBF0A6D6/sources/per/t/4504E294-contents
.Rproj.user/DBF0A6D6/sources/per/t/4FD09B9D
.Rproj.user/DBF0A6D6/sources/per/t/4FD09B9D-contents
.Rproj.user/DBF0A6D6/sources/per/t/B034F09D
.Rproj.user/DBF0A6D6/sources/per/t/B034F09D-contents
.Rproj.user/DBF0A6D6/sources/per/t/E4B5380D
.Rproj.user/DBF0A6D6/sources/per/t/E4B5380D-contents
.Rproj.user/DBF0A6D6/sources/prop/01F6381B
.Rproj.user/DBF0A6D6/sources/s-9722D70E/1305B081
.Rproj.user/DBF0A6D6/sources/s-9722D70E/1305B081-contents
.Rproj.user/DBF0A6D6/sources/s-9722D70E/41E9E52A-contents
.Rproj.user/DBF0A6D6/sources/s-9722D70E/4504E294
.Rproj.user/DBF0A6D6/sources/s-9722D70E/4504E294-contents
.Rproj.user/DBF0A6D6/sources/s-9722D70E/45807323-contents
.Rproj.user/DBF0A6D6/sources/s-9722D70E/4FD09B9D
.Rproj.user/DBF0A6D6/sources/s-9722D70E/4FD09B9D-contents
.Rproj.user/DBF0A6D6/sources/s-9722D70E/6EE76672-contents
.Rproj.user/DBF0A6D6/sources/s-9722D70E/B034F09D
.Rproj.user/DBF0A6D6/sources/s-9722D70E/B034F09D-contents
.Rproj.user/DBF0A6D6/sources/s-9722D70E/B509C703-contents
.Rproj.user/DBF0A6D6/sources/s-9722D70E/C566E7D6-contents
.Rproj.user/DBF0A6D6/sources/s-9722D70E/DE57CD44-contents
.Rproj.user/DBF0A6D6/sources/s-9722D70E/E4B5380D
.Rproj.user/DBF0A6D6/sources/s-9722D70E/E4B5380D-contents
.Rproj.user/DBF0A6D6/sources/s-9722D70E/lock_file
.Rproj.user/shared/notebooks/70D0D18A-regression/1/DBF0A6D69722D70E/chunks.json
.Rproj.user/shared/notebooks/70D0D18A-regression/1/s/c5l5onxmvqe9y/00000f.csv
